[submodule "R_intro"]
	path = R_intro
	url = https://github.com/LKittinun/R-intro.git
[submodule "Proteomics-blog"]
	path = Proteomics-blog
	url = https://github.com/LKittinun/Proteomics-blog.git
[submodule "HALP_survival_model"]
	path = HALP_survival_model
	url = https://github.com/LKittinun/HALP_survival_model.git
