[submodule "R_intro"]
	path = R_intro
	url = https://github.com/LKittinun/R-intro.git
[submodule "Proteomics"]
	path = Proteomics
	url = https://github.com/LKittinun/Proteomics.git
[submodule "HALP_survival_model"]
	path = HALP_survival_model
	url = https://github.com/LKittinun/HALP_survival_model.git
